:root {
    --accent-color: #857502;
    --background-color-1: #ffffff;
    --background-color-2: #f4eff8;
    --text-color-1: #657b83;
    --text-color-2: #586e75;
    --shadow-color: #cccccc;
    --font-sans: Verdana, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco, Droid Sans Mono, Source Code Pro, monospace;
}

/* Text */

@media screen and (min-width: 40rem) {
    :root {
        font-size: calc(1rem + 0.5vw);
    }
}

body {
    background-color: var(--background-color-1);
    color: var(--text-color-1);
    font-family: var(--font-serif);
}

p {
    max-inline-size: 40rem;
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    color: var(--text-color-2);
    font-weight: 600;
    line-height: 1.2;
}

a {
    color: var(--accent-color);
    text-decoration-line: none;
    text-decoration-color: var(--accent-color);
}

a:hover {
    text-decoration-line: underline;
}

/* Layout */

body {
    width: 100%;
    margin: 0;
}

:where(h1, h2, h3, h4, h5, h6):last-child {
    margin-block-end: 0;
}


section, nav, footer {
    width: clamp(18rem, 90%, 800px);
    margin-inline: auto;
}

section {
    clear: both;
    padding-block-start: 1rem;
}

section:first-of-type {
    padding-block-start: 0;
}

section.extrawide {
    width: clamp(18rem, 90%, 90%);
}

img,
video {
    max-width: 100%;
}

/* Layout: Graphics */

.left {
    float: left;
    margin-inline: 0 1rem;
    max-width: 50%;
}

.right {
    float: right;
    margin-inline: 1rem 0;
    max-width: 50%;
}

@media screen and (max-width: 40rem) {
    .left,
    .right {
        float: none;
        margin: 0;
        max-width: 100%;
    }
}

.clear {
    clear: both;
}

.headline {
    max-height: 100vh;
    box-sizing: border-box;
    float: left;
    margin-inline-end: 2rem;
    margin-block-end: 2rem;
}

.fullwidth {
    width: 100%;
}

/* # nav */

nav {
    font-weight: 600;
    display: flex;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    gap: 2rem;
    border-bottom: 1px solid var(--text-color-2);
}

nav a {
    color: var(--text-color-2);
}

/* #profile-picture */
#profile-picture {
    clip-path: circle(50%);
    scale: 1;
}

/* .gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
}

.gallery > a {
    display: contents;
}

.gallery figure {
    margin-inline: 0;
    background: var(--background-color-2);
    border-radius: 0.5rem;
    transition: box-shadow 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
}

.gallery figure > * {
    margin: auto;
}

.gallery>*:hover>figure {
    box-shadow: var(--shadow-color) 0 0 0.5rem;
}

.gallery figcaption {
    padding: 0 1rem 0.5rem 1rem;
    text-align: center;
}

.gallery figcaption :first-child {
    margin-block-start: 0.25rem;
}

