:root {
    --accent-color: #859900;
    --background-color-1: #fdf6e3;
    --background-color-2: #eee8d5;
    --text-color-1: #657b83;
    --text-color-2: #586e75;
    --shadow-color: #cccccc;
    --font-sans: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    --font-serif: ui-serif,serif;
    --font-mono: Dank Mono,Operator Mono,Inconsolata,Fira Mono,ui-monospace,SF Mono,Monaco,Droid Sans Mono,Source Code Pro,monospace;
}

/* Text */

body {
    background-color: var(--background-color-1);
    color: var(--text-color-1);
    font-family: var(--font-serif);
}

p {
    max-inline-size: 40rem;
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
    color: var(--text-color-2);
    font-weight: 600;
    line-height: 1.2;
}

a {
    color: var(--accent-color);
    text-decoration-line: none;
    text-decoration-color: var(--accent-color);
}

a:hover {
    text-decoration-line: underline;
}

/* Layout */

section, nav, footer {
    width: clamp(18rem, 90%, 800px);
    margin-inline: auto;
}

section {
    clear: both;
    padding-block-start: 1rem;
}

section:first-of-type {
    padding-block-start: 0;
}

img,
video {
    max-width: 100%;
}
