{% macro gallery_item(link, title, picture, properties=None, wide=False) -%}
    <a href="{{ link }}">
        <figure class="{{ 'wide' if wide else 'tall' }}">
            {{ picture }}
            <figcaption>
                <h3>{{ title | morebreaks }}</h3>
                {% if properties %}
                    <ul>
                        {% for property in properties -%}
                            <li>{{ property }}</li>
                        {%- endfor %}
                    </ul>
                {% endif %}
            </figcaption>
        </figure>
    </a>
{%- endmacro %}

<div class="gallery">
    {% for item in items %}
        {{ gallery_item(**item) }}
    {% endfor %}
</div>