{% extends "page.html" %}
{% block title %} Isabel Ruigrok {% endblock title %}
{% block main %}
    <section id="about">
        <h2>Isabel Ruigrok</h2>
        <img src="/images/sticker.png" alt="Profile Picture" width="1462" height="1462" id="profile-picture" class="left">
        <p>
            Isabel is beeldend kunstenaar en studeert Fine Arts aan de <abbr title="Hogeschool van de Kunsten Utrecht">HKU</abbr> in Utrecht.
        </p>
    </section>

    <section id="projects">
        <h2>Projects</h2>
        {% include "gallery.html" %}
        <p><a href="/projects">All Projects</a></p>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <ul class="linkbox">
            <li> Mail: <a href="mailto:inquiries@isabel-ruigrok.nl">inquiries@isabel-ruigrok.nl</a></li>
            <li> Instagram: <a href="https://www.instagram.com/isabel.ruigrok/">isabel.ruigrok</a></li>
        </ul>
    </section>
{% endblock main %}