{% extends "page.html" %}
{% block head -%}
    {{- super() -}}
    <link rel="stylesheet" href="/style/about.css">
{%- endblock head %}
{% block title %} Isabel Ruigrok {% endblock title %}
{% block main %}
    <section id="about">
        <h2>Isabel Ruigrok</h2>
        <picture>
            <source srcset="/images/sticker.webp" type="image/webp">
            <img src="/images/sticker.png" alt="Profile Picture" width="1462" height="1462" id="profile-picture">
        </picture>
        <div>
            {{ about | indent(3*4) }}
        </div>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <ul class="linkbox">
            <li> Mail: <a href="mailto:isabel.ruigrok.art@gmail.com">Isabel.Ruigrok.art@gmail.com</a></li>
            <li> Instagram: <a href="https://www.instagram.com/isabel.ruigrok/" target="_blank">isabel.ruigrok</a></li>
        </ul>
    </section>
{% endblock main %}