{% extends "page.html" %}
{% block title %} Isabel Ruigrok {% endblock title %}
{% block main %}
    <section id="about">
        <h2>Isabel Ruigrok</h2>
        <img src="/images/sticker.png" alt="Profile Picture" width="1462" height="1462" id="profile-picture">
        <div>
            <p>
            My name is Isabel Ruigrok and I am an artist based in The Netherlands.
            I am seventeen years old and currently in my second year of studying at HKU Fine Art.
            </p>
            <p>
                I like painting with loose dancing brush strokes and imagining the world of the painting I'm working on. I like when
                things have stories, and where craftsmanship tells them.
            </p>
            <p>
                I see Nature as something above me, as it can reflect the ancient times I've never lived. I love to incorporate this
                feeling in my work through dramatic landscapes and clothing or figures from other time periods.
            </p>
        <p>
                This summer I won pre-selections for Kunstbende South Holland, an art event for young creators. This means I will be
                exhibiting my work at the Kunstbende finals on 30 september 2023 at De Melkweg in Amsterdam. You can buy your
                tickets to see me and my work <a href="https://shop.ikbenaanwezig.nl/tickets/event/kunstbende-young-creators-festival-2-30-09-2023" title="Tickets | Kunstbende Young Creators Festival 2023" target="_blank">here</a>.
        </p>
        </div>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <ul class="linkbox">
            <li> Mail: <a href="mailto:inquiries@isabel-ruigrok.nl">inquiries@isabel-ruigrok.nl</a></li>
            <li> Instagram: <a href="https://www.instagram.com/isabel.ruigrok/" target="_blank">isabel.ruigrok</a></li>
        </ul>
    </section>
{% endblock main %}