<!DOCTYPE html>
<html lang="nl-NL">

<head>
    <meta charset='utf-8'>
    <title>{% block title %} {% endblock title %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style/normalize.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style/main.css'>
    <link rel="favicon" href="/favicon.ico">
</head>
<body>
<nav>
    <a href="/#about"> About </a>
    <a href="/projects"> Projects </a>
    <a href="/pieces"> Gallery </a>
    <a href="/#contact"> Contact </a>
</nav>
<main>
    {% block main %}
        <h1> {{ p.title }} </h1>
        {{ p.body }}
    {% endblock main %}
</main>
</body>
</html>
